
<section class="is-article-block" *ngIf="!charity">
  <div class="container">
    <div class="article-full-img no-overlay">
      <nz-skeleton-element *ngIf="!charity"  [nzLoading]="loading" nzType="avatar" class="custom-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
    </div>
    <div class="is-article-sec">
      <div class="is-left-profile hidden-on-xs mt-2 p-4">
        <nz-skeleton *ngIf="!charity"   [nzAvatar]="true" [nzParagraph]="{ rows: 4 }" class="custom-skeleton card-skeleton left-skeleton-profile"></nz-skeleton>
      </div>
      <div class="is-main-article-content">
        <div class="is-content">
          <nz-skeleton-element *ngIf="!charity" [nzLoading]="loading" nzType="avatar" class="custom-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
        </div>

      </div>
      <div class="is-right-ad-section">
        <nz-skeleton-element *ngIf="!charity" [nzLoading]="loading" nzType="avatar" class="custom-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
      </div>
    </div>
  </div>
</section>
<section class="is-article-block"  *ngIf="charity">
  <div class="container">
      <div class="mobile-article-detail">
          <div class="xs-company-img overlay-icon">
              <img *ngIf="charity" [src]='charity?.logo?.url' [alt]='charity?.logo?.alt' 
              onerror="this.src='assets/images/default-avatar.png'"
              />
              <app-article-avatar [article]="charity"></app-article-avatar>
          </div>
          <div class="xs-article-author-detail">
              <div class="xs-article-name">
                  {{ charity?.name }}
                  </div>
              <div class="comment-section">
                  <ul>
                      <li>
                          <div class="follow-btn" *ngIf="!isFollowing" (click)="follow()">
                              <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "followCharity" | translate }}</a>
                          </div>
                          <div class="follow-btn" *ngIf="isFollowing" (click)="unfollow()">
                              <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "unfollowCharity" | translate }}</a>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="article-full-img">
          <img *ngIf="charity" [src]='charity?.cover?.url' [alt]='charity?.cover?.alt'/>
      </div>
      <div class="is-article-sec">
          <div class="is-left-profile  hidden-on-xs">
              <div class="sticky-box">
                  <app-charity-follower-list *ngIf="charityId" [charityId]="charityId"></app-charity-follower-list>
                  <!-- <div class="share-sec text-center">
                      <h3>{{'shareArticle' | translate}}</h3>
                      <app-share-buttons></app-share-buttons>
                  </div> -->
              </div>
          </div>
          <div class="is-main-article-content">
              <div class="company-img  hidden-on-xs">
                  <img *ngIf="charity" [src]='charity?.logo?.url' [alt]='charity?.logo?.alt' 
                  onerror="this.src='assets/images/default-avatar.png'"
                  />
                  <div class="overlay-icon" *ngIf="charity">
                    <app-article-avatar [article]="charity"></app-article-avatar>
                  </div>
              </div>
              <div class="is-content">
                  <div class="is-head">
                    <div class="post-avatar hidden-on-xs">
                      <!-- <div>
                        <img class="avatar" [src]="replaceImage(charity.author.avatar?.url)"
                            [alt]="charity.author.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                            *ngIf="charity && !(charity?.author?.avatar?.cloudinary_id)">
                          <ng-container *ngIf="charity && (charity?.author?.avatar?.cloudinary_id)">
                            <div class="cloudinary-avatar">
                              <cl-image loading="lazy" public-id="{{replaceImage(charity.author.avatar.cloudinary_id)}}" secure="true">
                                  <cl-transformation width="50" height="50" gravity="face" crop="thumb">
                                  </cl-transformation>
                                  <cl-transformation radius="100">
                                  </cl-transformation>
                                </cl-image>
                            </div>
                          </ng-container>
                      </div> -->
                          <!-- <h2>{{ charity?.author?.fullname }}</h2> -->
                          <h1 class="post-title" [ngStyle]="{'color': charity?.color_code}">
                            {{ charity?.name }}
                         </h1>
                      </div>
                      <div class="media-section">
                          <div class="follow-btn  hidden-on-xs" *ngIf="!isFollowing" (click)="follow()">
                              <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "followCharity" | translate }}</a>
                          </div>
                          <div class="follow-btn  hidden-on-xs" *ngIf="isFollowing" (click)="unfollow()">
                              <a nz-button [nzLoading]="isUpdatingFollow"><img src="assets/images/company/follow-icon.png" alt="company img">{{ "unfollowCharity" | translate }}</a>
                          </div>
                          <div class="login-popup"  *ngIf="!isLoggedInUser">
                              <nz-modal
                                  [(nzVisible)]="isVisible"
                                  nzTitle="My Trending Stories"
                                  (nzOnCancel)="handleCancel()"
                                  (nzOnOk)="handleOk()"
                                  [nzOkLoading]="isOkLoading"
                                  >
                                  <div class="popup-content">
                                      <div>
                                          <a [routerLink]="['/']" class="bg-logo">
                                              <img src="assets/images/logo/logo-circle.png" alt="My Trending Stories">
                                          </a>
                                      </div>
                                      <p class="text-black">{{'Please' | translate}}, <a routerLink="/auth/login">{{'logInTitle' | translate}}</a> {{'or' | translate}} <a routerLink="/auth/signup">{{'signUp' | translate}}</a> {{'toContinue' | translate}}.</p>
                                     
                                  </div>
                                  </nz-modal>
                          </div>
                      </div>
                  </div>
                  <div class="is-body">
                    <div class="charity-form">
                      <h5>
                         <b>{{ charity?.goal_amount | currency :'USD':'symbol':'1.0-2' }}</b>
                          MTS Raised {{ charity?.amount | currency :'USD':'symbol':'1.0-2' }}
                      </h5>
                         
                      <nz-progress [nzPercent]="donationPercentage" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
                      
                      <div class="text-center pb-4 pt-4">
                        <button type="button" class="donation-btn" nz-button nzType="primary" (click)="showDonateForm()">
                          Donate Now
                        </button>
                        <button type="button" class="donation-btn share-btn mt-3" nz-button nzType="primary" (click)="showShareModel()">
                          Share
                        </button>
                        <nz-modal
                        [nzStyle]="{top:'20px'}"
                        [(nzVisible)]="isDonateFormVisible"
                        (nzOnCancel)="hideDonateForm()"
                        nzFooter=null
                        >
                        <app-charity-donate-form *ngIf="charity" [charity]="charity" [charityId]="charityId"></app-charity-donate-form>
                        </nz-modal> 
                        <div id="share-Modal" class="share-modal" [class.hidden-share]="!isShareVisible">
                      
                          <!-- Modal content -->
                          <div class="share-modal-content">
                            <div class="share-modal-header">
                              <h5>Share</h5>
                              <div (click)="closeSharepopUp()" class="close-share-icon"><i nz-icon nzType="close" nzTheme="outline"></i></div>
                            </div>
                            <div class="addthis_toolbox">
                              <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
                                role="region">
                                <span id="at-58874b62-35e8-461d-a6c4-83824085693f" class="at4-visually-hidden"></span>
                                <div class="at-share-btn-elements">
                                  <ul class="share-list">
                                  <li>
                                    <span nz-typography class="addthis_button_facebook"><i nz-icon nzType="facebook"
                                        nzTheme="outline"></i></span>
                                    <a class="at-icon-wrapper at-share-btn at-svc-facebook addthis_button_facebook share-icon-hidden"
                                      (click)="closeSharepopUp()"></a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="twitter" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-twitter addthis_button_twitter share-icon-hidden"></a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="pushpin" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-pinterest_share addthis_button_pinterest share-icon-hidden">Share
                                      <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"
                                      viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-pinterest_share-3"
                                      class="at-icon at-icon-pinterest_share"
                                      style="fill: #fff; background-color: rgb(203, 32, 39); width: 38px; height: 38px;">
                                      <title id="at-svg-pinterest_share-3">Pinterest</title>
                                      <g>
                                          <path
                                              d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z"
                                              fill-rule="evenodd"></path>
                                      </g>
                                  </svg>
                                    </a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="linkedin" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-linkedin addthis_button_linkedin share-icon-hidden"></a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="aliwangwang" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-messenger addthis_button_messenger share-icon-hidden"></a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="wechat" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-whatsapp addthis_button_whatsapp share-icon-hidden"></a>
                                  </li>
                                  <li>
                                    <span nz-typography><i nz-icon nzType="mail" nzTheme="outline"></i></span>
                                    <a (click)="closeSharepopUp()"
                                      class="at-icon-wrapper at-share-btn at-svc-email addthis_button_email share-icon-hidden"></a>
                                  </li>
                                  <!-- <nz-list-item>
                                    <span nz-typography (click)="copyLink()"><i nz-icon nzType="link" nzTheme="outline"></i></span>
                                    <a (click)="copyLink()" href="javascript:void(0)">Copy Link</a>
                                  </nz-list-item> -->
                                  <li>
                                    <span nz-typography (click)="closeSharepopUp()"><i nz-icon nzType="close-circle"
                                        nzTheme="outline"></i></span>
                                    <span (click)="closeSharepopUp()">Close</span>
                                  </li>
                                </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>  
                    </div>

                      <!-- <div class="donor-detail pb-4">
                         <div class="donor-row">
                            <span>{{ fundraiser?.donor_count | number:'1.0-0' }}</span>
                            {{ 'fundraiserDonors' | translate }}
                         </div>
                      </div> -->
                      
                   </div>
                      <div class="fundraiser-content">
                          <p class="big">{{ charity?.bio }}</p>
                          <br>
                          <p innerHTML={{charity?.presentation}}></p>
                      </div>
                      <div class="xs-article-publish">
                          <div class="text-left">
                              <app-charity-follower-list *ngIf="charityId" [charityId]="charityId" class="hidden-on-desktop"></app-charity-follower-list>
                          </div>
                          <!-- <div class="share-sec text-left">
                              <h3>{{'shareArticle' | translate}}</h3>
                              <app-share-buttons></app-share-buttons>
                          </div> -->
                      </div>
                      <app-charity-followers *ngIf="charityId" [charityId]="charityId" class="hidden-on-desktop"></app-charity-followers>
                      <div class="bg-white" *ngIf="charityArticles">
                          <div class="is-comman-title">
                           {{'CharityArticle' | translate}}
                          </div>
                          <div class="is-cat-box-card-main">
                              <div class="cat-box">
                                  <div class="cat-box-gallery">
                                      <div class="container">
                                        <nz-tabset>
                                          <nz-tab nzTitle="{{'All' | translate}}">
                                            <div class="row article-row">
                                              <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-20" *ngFor="let article of charityArticles"
                                                [ngClass]="article?.category?.slug">
                                                <div class="item-card item-card-life-and-styles">
                                                  <a [routerLink]="['/',article.author.slug,article.slug]">
                                                    <div class="item-card-image">
                                                      <img [src]="replaceImage(article.image.url)" [alt]="article?.image?.alt"
                                                        *ngIf="!(article.image.cloudinary_id); else CateCloudinoryImg">
                                                      <ng-template #CateCloudinoryImg>
                                                        <div class="hide-avatar">
                                                          <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                                                        </div>
                                                      </ng-template>
                                                      <h3 class="is-category-title">{{article?.category?.title}}</h3>
                                                      <div class="article-image-icon" *ngIf="article.type==='audio'">
                                                        <i class="fas fa-play"></i>
                                                      </div>
                                                      <div class="article-image-icon" *ngIf="article.type==='video'">
                                                        <i class="fas fa-play"></i>
                                                      </div>
                                                      <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                        <i class="fas fa-angle-right"></i>
                                                      </div>
                                                      <div class="comment-right">
                                                        <div class="article-comment-info">
                                                          <div class="comment-section">
                                                            <ul>
                                                              <li *ngIf="article.view_count">
                                                                <a href="#">
                                                                  <i class="fas fa-eye"></i>
                                                                  {{article.view_count}}
                                                                </a>
                                                              </li>
                                                              <li *ngIf="article.likes_count">
                                                                <a href="#">
                                                                  <i class="fas fa-heart"></i>
                                                                  {{article.likes_count}}
                                                                </a>
                                                              </li>
                                                              <li *ngIf="article.comments_count">
                                                                <a href="#">
                                                                  <i class="fa fa-comment"></i>
                                                                  {{article.comments_count}}
                                                                </a>
                                                              </li>
                                                            </ul>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="item-card-content">
                                                      <div class="item-card-category  cat-yellow">
                                                        <div class="is-avatar-dv">
                                                          <div class="icon-overlay">
                                                            <img class="avatar" [src]="replaceImage(article?.author?.avatar?.url)"
                                                            [alt]="article?.author?.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                                                            *ngIf="!(article.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg">
                                                          <ng-template #CateAvatarCloudinoryImg>
                                                            <div class="hide-feature-img">
                                                              <app-cloudinary-img [article]="article">
                                                              </app-cloudinary-img>
                                                            </div>
                                                          </ng-template>
                                                          <app-article-avatar [article]="article"></app-article-avatar>
                                                          </div>
                                                          <span class="item-card-author">{{article?.author?.fullname}}</span>
                                                        </div>
                                                      </div>
                                                      <div class="item-card-title">
                                                        <h4 class="item-long-title">{{article.title}}</h4>
                                                      </div>
                                                      <div class="item-card-texte">
                                                        <p>{{article.excerpt}}</p>
                                                        <div class="category-article-readmore">
                                                          <div *ngIf="article.type==='audio'">
                                                            <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                                                src="assets/images/read-more-icon-black.png" alt="Listen Now" /></button>
                                                          </div>
                                                          <div *ngIf="article.type==='video'">
                                                            <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                                                src="assets/images/read-more-icon-black.png" alt="Watch Now" /></button>
                                                          </div>
                                                          <div *ngIf="!(article.type==='audio' || article.type==='video')">
                                                            <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                                                src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                                          </div>
                                                          <div class="article-icon-main">
                                                            <div class="article-icon" *ngIf="article.type==='audio'">
                                                              <i class="fas fa-volume-down"></i>
                                                            </div>
                                                            <div class="article-icon" *ngIf="article.type==='video'">
                                                              <i class="fas fa-video"></i>
                                                            </div>
                                                            <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                              <i class="far fa-file-alt"></i>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </a>
                                                </div>
                                              </div>
                                              <div *ngIf="lastArticleIndex" class="w-100 mt-2">
                                                <a (click)="loadMoreArticle()" class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
                                                <!-- <nz-spin nzSimple *ngIf="loadingMoreFollowers"></nz-spin> -->
                                              </div>
                                              <div *ngIf="!charityArticles.length" class="m-t-10">
                                                {{'artNoArt' | translate}}
                                              </div>
                                            </div>
                                          </nz-tab>
                                          <nz-tab nzTitle="{{'text' | translate}}" (nzClick)="getTextArticles()">
                                              <div class="row article-row" *ngIf="textArticles.length">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-20" *ngFor="let article of textArticles"
                                                  [ngClass]="article?.category?.slug">
                                                  <div class="item-card item-card-life-and-styles">
                                                    <a [routerLink]="['/',article.author.slug,article.slug]">
                                                      <div class="item-card-image">
                                                        <img [src]="replaceImage(article.image.url)" [alt]="article?.image?.alt"
                                                          *ngIf="!(article.image.cloudinary_id); else CateCloudinoryImg">
                                                        <ng-template #CateCloudinoryImg>
                                                          <div class="hide-avatar">
                                                            <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                                                          </div>
                                                        </ng-template>
                                                        <h3 class="is-category-title">{{article?.category?.title}}</h3>
                                                        <div class="article-image-icon" *ngIf="article.type==='audio'">
                                                          <i class="fas fa-play"></i>
                                                        </div>
                                                        <div class="article-image-icon" *ngIf="article.type==='video'">
                                                          <i class="fas fa-play"></i>
                                                        </div>
                                                        <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                          <i class="fas fa-angle-right"></i>
                                                        </div>
                                                        <div class="comment-right">
                                                          <div class="article-comment-info">
                                                            <div class="comment-section">
                                                              <ul>
                                                                <li *ngIf="article.view_count">
                                                                  <a href="#">
                                                                    <i class="fas fa-eye"></i>
                                                                    {{article.view_count}}
                                                                  </a>
                                                                </li>
                                                                <li *ngIf="article.likes_count">
                                                                  <a href="#">
                                                                    <i class="fas fa-heart"></i>
                                                                    {{article.likes_count}}
                                                                  </a>
                                                                </li>
                                                                <li *ngIf="article.comments_count">
                                                                  <a href="#">
                                                                    <i class="fa fa-comment"></i>
                                                                    {{article.comments_count}}
                                                                  </a>
                                                                </li>
                                                              </ul>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="item-card-content">
                                                        <div class="item-card-category  cat-yellow">
                                                          <div class="is-avatar-dv">
                                                            <div class="icon-overlay">
                                                              <img class="avatar" [src]="replaceImage(article?.author?.avatar?.url)"
                                                                [alt]="article?.author?.avatar?.alt"
                                                                onerror="this.src='assets/images/default-avatar.png'"
                                                                *ngIf="!(article.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg">
                                                              <ng-template #CateAvatarCloudinoryImg>
                                                                <div class="hide-feature-img">
                                                                  <app-cloudinary-img [article]="article">
                                                                  </app-cloudinary-img>
                                                                </div>
                                                              </ng-template>
                                                              <app-article-avatar [article]="article">
                                                              </app-article-avatar>
                                                            </div>
                                                            <span class="item-card-author">{{article?.author?.fullname}}</span>
                                                          </div>
                                                        </div>
                                                        <div class="item-card-title">
                                                          <h4 class="item-long-title">{{article.title}}</h4>
                                                        </div>
                                                        <div class="item-card-texte">
                                                          <p>{{article.excerpt}}</p>
                                                          <div class="category-article-readmore">
                                                            <div *ngIf="article.type==='audio'">
                                                              <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                                                  src="assets/images/read-more-icon-black.png" alt="Listen Now" /></button>
                                                            </div>
                                                            <div *ngIf="article.type==='video'">
                                                              <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                                                  src="assets/images/read-more-icon-black.png" alt="Watch Now" /></button>
                                                            </div>
                                                            <div *ngIf="!(article.type==='audio' || article.type==='video')">
                                                              <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                                            </div>
                                                            <div class="article-icon-main">
                                                              <div class="article-icon" *ngIf="article.type==='audio'">
                                                                <i class="fas fa-volume-down"></i>
                                                              </div>
                                                              <div class="article-icon" *ngIf="article.type==='video'">
                                                                <i class="fas fa-video"></i>
                                                              </div>
                                                              <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                                <i class="far fa-file-alt"></i>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div *ngIf="lastArticleIndexOfText" class="w-100 mt-2"> <a (click)="loadMoreTextArticles()"
                                                    class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
                                                  <!-- <nz-spin nzSimple *ngIf="loadingMoreFollowers"></nz-spin> -->
                                                </div>
                                              </div>
                                              <div *ngIf="!textArticles.length" class="m-t-10">
                                               {{'NoTextArticle' | translate}}
                                              </div>
                                            </nz-tab>
                                            <nz-tab nzTitle="{{'Video' | translate}}" (nzClick)="getVideoArticles()">
                                              <div class="row article-row" *ngIf="videoArticles.length">
                                                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-20" *ngFor="let article of videoArticles"
                                                  [ngClass]="article?.category?.slug">
                                                  <div class="item-card item-card-life-and-styles">
                                                    <a [routerLink]="['/',article.author.slug,article.slug]">
                                                      <div class="item-card-image">
                                                        <img [src]="replaceImage(article.image.url)" [alt]="article?.image?.alt"
                                                          *ngIf="!(article.image.cloudinary_id); else CateCloudinoryImg">
                                                        <ng-template #CateCloudinoryImg>
                                                          <div class="hide-avatar">
                                                            <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                                                          </div>
                                                        </ng-template>
                                                        <h3 class="is-category-title">{{article?.category?.title}}</h3>
                                                        <div class="article-image-icon" *ngIf="article.type==='audio'">
                                                          <i class="fas fa-play"></i>
                                                        </div>
                                                        <div class="article-image-icon" *ngIf="article.type==='video'">
                                                          <i class="fas fa-play"></i>
                                                        </div>
                                                        <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                          <i class="fas fa-angle-right"></i>
                                                        </div>
                                                        <div class="comment-right">
                                                          <div class="article-comment-info">
                                                            <div class="comment-section">
                                                              <ul>
                                                                <li *ngIf="article.view_count">
                                                                  <a href="#">
                                                                    <i class="fas fa-eye"></i>
                                                                    {{article.view_count}}
                                                                  </a>
                                                                </li>
                                                                <li *ngIf="article.likes_count">
                                                                  <a href="#">
                                                                    <i class="fas fa-heart"></i>
                                                                    {{article.likes_count}}
                                                                  </a>
                                                                </li>
                                                                <li *ngIf="article.comments_count">
                                                                  <a href="#">
                                                                    <i class="fa fa-comment"></i>
                                                                    {{article.comments_count}}
                                                                  </a>
                                                                </li>
                                                              </ul>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                      <div class="item-card-content">
                                                        <div class="item-card-category  cat-yellow">
                                                          <div class="is-avatar-dv">
                                                            <div class="icon-overlay">
                                                            <img class="avatar" [src]="replaceImage(article?.author?.avatar?.url)"
                                                              [alt]="article?.author?.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                                                              *ngIf="!(article.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg">
                                                            <ng-template #CateAvatarCloudinoryImg>
                                                              <div class="hide-feature-img">
                                                                <app-cloudinary-img [article]="article">
                                                                </app-cloudinary-img>
                                                              </div>
                                                            </ng-template>
                                                            <app-article-avatar [article]="article">
                                                            </app-article-avatar>
                                                          </div>
                                                            <span class="item-card-author">{{article?.author?.fullname}}</span>
                                                          </div>
                                                        </div>
                                                        <div class="item-card-title">
                                                          <h4 class="item-long-title">{{article.title}}</h4>
                                                        </div>
                                                        <div class="item-card-texte">
                                                          <p>{{article.excerpt}}</p>
                                                          <div class="category-article-readmore">
                                                            <div *ngIf="article.type==='audio'">
                                                              <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                                                  src="assets/images/read-more-icon-black.png" alt="Listen Now" /></button>
                                                            </div>
                                                            <div *ngIf="article.type==='video'">
                                                              <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                                                  src="assets/images/read-more-icon-black.png" alt="Watch Now" /></button>
                                                            </div>
                                                            <div *ngIf="!(article.type==='audio' || article.type==='video')">
                                                              <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                                            </div>
                                                            <div class="article-icon-main">
                                                              <div class="article-icon" *ngIf="article.type==='audio'">
                                                                <i class="fas fa-volume-down"></i>
                                                              </div>
                                                              <div class="article-icon" *ngIf="article.type==='video'">
                                                                <i class="fas fa-video"></i>
                                                              </div>
                                                              <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                                <i class="far fa-file-alt"></i>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </a>
                                                  </div>
                                                </div>
                                                <div *ngIf="lastArticleIndexOfVideo" class="w-100 mt-2"> <a (click)="loadMoreVideoArticles()"
                                                    class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
                                                  <!-- <nz-spin nzSimple *ngIf="loadingMoreFollowers"></nz-spin> -->
                                                </div>
                                              </div>
                                              <div *ngIf="!videoArticles.length" class="m-t-10">
                                                {{'NoVideo' | translate}}
                                              </div>
                                            </nz-tab>
                                          <nz-tab nzTitle="{{'Audio' | translate}}" (nzClick)="getAudioArticles()">
                                            <div class="row article-row" *ngIf="audioArticles.length">
                                              <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-20" *ngFor="let article of audioArticles"
                                                [ngClass]="article?.category?.slug">
                                                <div class="item-card item-card-life-and-styles">
                                                  <a [routerLink]="['/',article.author.slug,article.slug]">
                                                    <div class="item-card-image">
                                                      <img [src]="replaceImage(article.image.url)" [alt]="article?.image?.alt"
                                                        *ngIf="!(article.image.cloudinary_id); else CateCloudinoryImg">
                                                      <ng-template #CateCloudinoryImg>
                                                        <div class="hide-avatar">
                                                          <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                                                        </div>
                                                      </ng-template>
                                                      <h3 class="is-category-title">{{article?.category?.title}}</h3>
                                                      <div class="article-image-icon" *ngIf="article.type==='audio'">
                                                        <i class="fas fa-play"></i>
                                                      </div>
                                                      <div class="article-image-icon" *ngIf="article.type==='video'">
                                                        <i class="fas fa-play"></i>
                                                      </div>
                                                      <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                        <i class="fas fa-angle-right"></i>
                                                      </div>
                                                      <div class="comment-right">
                                                        <div class="article-comment-info">
                                                          <div class="comment-section">
                                                            <ul>
                                                              <li *ngIf="article.view_count">
                                                                <a href="#">
                                                                  <i class="fas fa-eye"></i>
                                                                  {{article.view_count}}
                                                                </a>
                                                              </li>
                                                              <li *ngIf="article.likes_count">
                                                                <a href="#">
                                                                  <i class="fas fa-heart"></i>
                                                                  {{article.likes_count}}
                                                                </a>
                                                              </li>
                                                              <li *ngIf="article.comments_count">
                                                                <a href="#">
                                                                  <i class="fa fa-comment"></i>
                                                                  {{article.comments_count}}
                                                                </a>
                                                              </li>
                                                            </ul>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="item-card-content">
                                                      <div class="item-card-category  cat-yellow">
                                                        <div class="is-avatar-dv">
                                                          <div class="icon-overlay">
                                                            <img class="avatar" [src]="replaceImage(article?.author?.avatar?.url)"
                                                              [alt]="article?.author?.avatar?.alt"
                                                              onerror="this.src='assets/images/default-avatar.png'"
                                                              *ngIf="!(article.author.avatar.cloudinary_id); else CateAvatarCloudinoryImg">
                                                            <ng-template #CateAvatarCloudinoryImg>
                                                              <div class="hide-feature-img">
                                                                <app-cloudinary-img [article]="article">
                                                                </app-cloudinary-img>
                                                              </div>
                                                            </ng-template>
                                                            <app-article-avatar [article]="article">
                                                            </app-article-avatar>
                                                          </div>
                                                          <span class="item-card-author">{{article?.author?.fullname}}</span>
                                                        </div>
                                                      </div>
                                                      <div class="item-card-title">
                                                        <h4 class="item-long-title">{{article.title}}</h4>
                                                      </div>
                                                      <div class="item-card-texte">
                                                        <p>{{article.excerpt}}</p>
                                                        <div class="category-article-readmore">
                                                          <div *ngIf="article.type==='audio'">
                                                            <button type="button" class="is-read-more">{{'ListenNow' | translate }} <img
                                                                src="assets/images/read-more-icon-black.png" alt="Listen Now" /></button>
                                                          </div>
                                                          <div *ngIf="article.type==='video'">
                                                            <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                                                                src="assets/images/read-more-icon-black.png" alt="Watch Now" /></button>
                                                          </div>
                                                          <div *ngIf="!(article.type==='audio' || article.type==='video')">
                                                            <button type="button" class="is-read-more">{{'readMore' | translate }} <img
                                                                src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                                                          </div>
                                                          <div class="article-icon-main">
                                                            <div class="article-icon" *ngIf="article.type==='audio'">
                                                              <i class="fas fa-volume-down"></i>
                                                            </div>
                                                            <div class="article-icon" *ngIf="article.type==='video'">
                                                              <i class="fas fa-video"></i>
                                                            </div>
                                                            <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                                                              <i class="far fa-file-alt"></i>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </a>
                                                </div>
                                              </div>
                                              <div *ngIf="lastArticleIndexOfAudio" class="w-100 mt-2"> <a (click)="loadMoreAudioArticles()"
                                                  class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
                                                <!-- <nz-spin nzSimple *ngIf="loadingMoreFollowers"></nz-spin> -->
                                              </div>
                                            </div>
                                            <div *ngIf="!audioArticles.length" class="m-t-10">
                                              {{'NoAudio' | translate}}
                                            </div>
                                          </nz-tab>
                                        </nz-tabset>
                                      </div>
                                    </div>
                              </div>
                            </div>
                         
                      </div>
                  </div>
              </div>

          </div>
          <div class="is-right-ad-section">
            <div class="donations-list-sec">
              <h2 class="dn-count">Donations ({{donationList?.length}})</h2>
              <div class="dn-list">
                <div class="dn-list-item" *ngFor="let donation of donationList">
                  <!-- <div class="dn-avtar">
                     <img src="assets/images/avatars/thumb-2.jpg" alt="" />
                  </div> -->
                  <div class="dn-details">
                    <h3>{{donation.first_name}} {{donation.last_name}}</h3>
                    <ul>
                      <li><b>{{donation.amount | currency :'USD':'symbol':'1.0-2' }}</b></li>
                      <li class="dot">{{donation?.created_at | date:'medium' }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>             
          </div>
      </div>
  </div>
</section>
