/*Algolia*/
::ng-deep .ais-SearchBox-form {
  display: block;
  position: relative;
}
::ng-deep .ais-Highlight-highlighted {
  color:#0079d0;
  font-size: 16px;
  font-weight: 500;
}
::ng-deep .ais-SearchBox-submit {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}


::ng-deep .ais-SearchBox-form {
  ::ng-deep .ais-SearchBox-input {
    border: 1px solid #cacaca;
    width: 100%;
    border-radius: 40px;
    padding: 15px 10px 13px 20px;
    outline: none;
    font-family: 'josefin_sanslight';
    font-size: 18px;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: #acaaaa;
    }

    &:-ms-input-placeholder {
      color: #acaaaa;
    }

    &::placeholder {
      color: #acaaaa;
    }
  }

  .ais-SearchBox-submit {
    max-width: 100%;
    position: absolute;
    top: 29px;
    right: 20px;
    left: auto;
    outline: none;

    .ais-SearchBox-submitIcon {
      width: 20px;
      height: 20px;

      path {
        fill: #cacaca;
      }
    }
  }

  .ais-SearchBox-reset {
    right: 50px;
    outline: none;
    position: absolute;
    top: 21px;
    border: 0px;
    background: transparent;

    .ais-SearchBox-resetIcon {
      width: 14px;
      height: 14px;

      path {
        fill: #cacaca;
      }
    }
  }
}


.companies-box{
  ::ng-deep .ais-SearchBox-form{
    max-width: 550px;
    margin: 0px auto 30px;
  }
}

::ng-deep .ais-Pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;

  .ais-Pagination-item {
    list-style: none;
  }
}

::ng-deep .ais-Pagination-link {
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid #C4C8D8;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  list-style: none;
}

::ng-deep .ais-Pagination-item+.ais-Pagination-item {
  margin-left: 0.3rem;
}
::ng-deep .ais-Pagination-list {
  .ais-Pagination-item {
    margin-bottom: 20px;

    &.ais-Pagination-item--selected {
      .ais-Pagination-link {
        background-color: #ff4121;
        border-color: #ff4121;
        color: #fff;
      }
    }

    .ais-Pagination-link {
      border-radius: 0px;
      border-color: #dadada;
      color: #000;
      width: 40px;
      height: 40px;
      line-height: 29px;
      text-align: center;
      color: #000;

      &:hover {
        background-color: #ff4121;
        border-color: #ff4121;
        color: #fff;
      }
    }
  }
}
/*Algolia End*/

.is-comman-title {
  color: #000;
  padding: 30px 0px 10px 0px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  font-family: "josefin_sanssemibold";
  position: relative;
  margin-bottom: 30px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 60px;
    height: 1px;
    background: #000;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ais-SearchBox { margin-bottom: 1em }

.is-read-more {
  background: transparent;
  border: 0px;
  color: #000;
  display: flex;
  align-items: center;
  font-family: "josefin_sansregular";
  font-size: 18px;
  padding-left: 0px;
  outline: none;
  position: relative;
  cursor: pointer;
  padding: 0px;
  margin: auto;
  &:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #000;
  }
  img {
    margin-left: 5px;
  }
}
.all-companies-main-sec {
  .companies-box {
    margin: 20px 0px;
    .companies-box-item {
      box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.03);
      width: 100%;
      height: 100%;
      padding: 20px;
      text-align: center;
      background: #fff;
      display: flex;
      justify-content: center;
      min-height: 270px;
      div { 
        .icon-overlay{
          max-width: 70px;
          margin: auto;
          position: relative;
          .special-icon {
            position: absolute;
            top: -10px;
            right: -10px;
            width: 30px;
            height: 30px;
            background: #000;
            border: 1px solid #fff;
            display: flex;
            border-radius: 100%;
            img {
            max-width: 20px;
            margin: auto;
            }
          }
          > img {
            width: 70px;
            height: 70px;
            object-fit: contain;
            border: 1px solid #eee;
            border-radius: 100%;
            background: #eee;
          }
        }
        ::ng-deep cl-image{
          img{
            width: 70px;
          height: 70px;
          object-fit: contain;
          border: 1px solid #eee;
          border-radius: 100%;
          background: #eee;
          }
        }
      }
      h2 {
        font-size: 20px;
        color: #3f4755;
        font-family: "open_sansregular";
        margin: 10px 0px 10px 0px;
        font-weight: 600;
        word-break: break-word;
      }
      p {
        font-family: "open_sansregular";
        font-size: 15px;
        font-weight: normal;
        color: #3f4755;
        line-height: 24px;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        height: 72px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
  }
}

.box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bg-logo {
    display: inline-block;
    max-width: 90px;
    margin-right: 20px;
    img {
      max-width: 100%;
    }
  }
}
::ng-deep .custom-skeleton {
  border: 1px solid #efeeee;
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: unset;
  .ant-skeleton-avatar {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    background: linear-gradient(90deg, #c5c5c5 25%, #c5c5c5 37%, #d0cfcf 63%);
  }
  &.card-skeleton {
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.1);
    .ant-skeleton-header {
      display: block;
      padding-right: 0px;
      margin-bottom: 20px;
      .ant-skeleton-avatar {
        border-radius: 0px;
        width: 100%;
        height: 150px;
        margin: 0px;
        background: linear-gradient(
          90deg,
          #f2f2f2 25%,
          #e6e6e6 37%,
          #f2f2f2 63%
        );
        background-size: 400% 100%;
        -webkit-animation: ant-skeleton-loading 2s ease infinite;
        animation: ant-skeleton-loading 2s ease infinite;
      }
    }
    .ant-skeleton-content {
      display: block;
      width: calc(100% - 20px);
      margin: 10px;
      .ant-skeleton-title {
        width: 100% !important;
      }
      .ant-skeleton-paragraph {
        margin-top: 15px;
        li {
          width: 100% !important;
          background: linear-gradient(
            90deg,
            #f2f2f2 25%,
            #e6e6e6 37%,
            #f2f2f2 63%
          );
          background-size: 400% 100%;
          -webkit-animation: ant-skeleton-loading 2s ease infinite;
          animation: ant-skeleton-loading 2s ease infinite;
        }
      }
    }
  }
}
@media screen and (max-width: 580px) {
  .is-comman-title {
    font-size: 24px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .all-companies-main-sec {
    .companies-box {
      .companies-box-item {
        padding: 15px;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (min-width: 581px) and (max-width: 768px) {
  .is-comman-title {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .all-companies-main-sec {
    .companies-box {
      .companies-box-item {
        padding: 15px;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .is-comman-title {
    margin-bottom: 0px;
    padding-top: 0px;
  }
  .all-companies-main-sec {
    .companies-box {
      .companies-box-item {
        padding: 15px;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .is-comman-title {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  section {
    .container {
      width: 1140px;
      max-width: 100%;
    }
  }
}
