<section class="is-banner">
    <div class="container">
        <div class="is-banner-sec">
            <div class="is-text">
                <h3>{{'copywriterTitle2' | translate}}</h3>
            </div>
        </div>
    </div>
</section>
<section class="is-copywriter2">
    <div class="container">
        <div class="is-comman-title">
            Messenger
        </div>
        <div class="is-story-product-main">
            <p class="title-description">{{'copywriterHeadingDes' | translate}}</p>

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="is-story-item">
                        <div class="is-story-detail">
                            <div class="is-footer">
                                <img src="assets/images/copywriter/story-2.jpg" />
                                <h2>
                                    Eric Desuza
                                    <span>March 17,2020,1:09pm</span>
                                </h2>
                            </div>
                            <div class="bottom-body">
                                <h3>Story Name</h3>
                                <div class="is-cart">
                                    <span>$150</span>
                                    <span><a class="is-buy">Buy</a></span>
                                </div>
                            </div>
                           
                        </div>
                        <div class="is-story-img">
                            <img src="assets/images/copywriter/story-2.jpg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="is-more-btn"><button nz-button="" nztype="primary" class="is-see-more">{{'viewAll' | translate}}</button></div>
        </div>
    </div>
</section>