<section class="terms-sec">
    <div class="container">
        <div class="terms">
            <h2>{{'termsTitle' | translate}}</h2>
            <p>{{'termsParagraph1' | translate}}</p>
            <p>
                {{'termsParagraph2' | translate}}
            </p>
            <p>
                {{'termsParagraph3' | translate}}
            </p>
            <p>
                {{'termsParagraph4' | translate}}
            </p>
            <h3> {{'termsHeading1' | translate}}</h3>
            <p>
                {{'termsParagraph5' | translate}}
            </p>
            <p>
                {{'termsParagraph6' | translate}} 
            </p>
            <p>
                {{'termsParagraph7' | translate}} 
            </p>
            <p>
                {{'termsParagraph8' | translate}} 
            </p>
            <p>
                {{'termsParagraph9' | translate}} 
            </p>
            <p>
                {{'termsParagraph10' | translate}} 
            </p>
            <p>
                {{'termsParagraph11' | translate}}  
            </p>
            <h3>{{'termsHeading2' | translate}}</h3>
            <p>
                {{'termsParagraph12' | translate}}  
            </p>
            <p>
                {{'termsParagraph13' | translate}}
            </p>
            <p>
                {{'termsParagraph14' | translate}}
            </p>
            <h3>
                {{'termsHeading3' | translate}}
            </h3>
            <p>
                {{'termsParagraph15' | translate}}
            </p>
            <p>
                {{'termsParagraph16' | translate}}
            </p>
            <p>
                {{'termsParagraph17' | translate}}
            </p>
            <p>
                {{'termsParagraph18' | translate}}
            </p>
            <p>
                {{'termsParagraph19' | translate}}
            </p>
            <p>
                {{'termsParagraph20' | translate}}
            </p>
            <p>
                {{'termsParagraph21' | translate}}
            </p>
            <p>
                {{'termsParagraph22' | translate}}
            </p>
            <p>
                {{'termsParagraph23' | translate}}
            </p>
            <p>
                {{'termsParagraph24' | translate}}
            </p>
            <p>
                {{'termsParagraph25' | translate}}
            </p>
            <h3>
                {{'termsHeading4' | translate}}
            </h3>
            <p>
                {{'termsParagraph26' | translate}}
            </p>
            <p>
                {{'termsParagraph27' | translate}}
            </p>
            <h3>
               {{'termsHeading5' | translate}}
            </h3>
            <p>
                {{'termsParagraph28' | translate}}
            </p>
            <ul>
                <li>{{'termsList11' | translate}}</li>

                <li>{{'termsList12' | translate}}</li>

                <li>{{'termsList13' | translate}}</li>

                <li> {{'termsList14' | translate}}</li>

                <li> {{'termsList15' | translate}} </li>
            </ul>
            <h3> {{'termsHeading6' | translate}}</h3>
            <p>
                {{'termsParagraph29' | translate}} 
            </p>
            <h3>{{'termsHeading7' | translate}}</h3>
            <p>
                {{'termsParagraph30' | translate}} 
            </p>
            <h4>{{'termsHeading8' | translate}}</h4>
            <p>{{'termsParagraph31' | translate}}</p>
            <p>{{'termsParagraph32' | translate}}</p>
            <p>
                {{'termsParagraph33' | translate}}
            </p>
            <p>
                {{'termsParagraph34' | translate}}
            </p>
            <h4>{{'termsHeading9' | translate}}</h4>
            <p>
                {{'termsParagraph35' | translate}}
            </p>
            <p>
                {{'termsParagraph36' | translate}}
            </p>
            <p>
                {{'termsParagraph37' | translate}}
            </p>
            <p>
                {{'termsParagraph38' | translate}}
            </p>
            <h4>{{'termsHeading10' | translate}}</h4>
            <p>
                {{'termsParagraph39' | translate}}
            </p>
            <p>
                {{'termsParagraph40' | translate}}
            </p>
            <h4>{{'termsHeading11' | translate}}</h4>
            <p>
                {{'termsParagraph41' | translate}}
            </p>
            <p>
                {{'termsParagraph42' | translate}}
            </p>
            <p>
                {{'termsParagraph43' | translate}}
            </p>
            <p>
                {{'termsParagraph44' | translate}}
            </p>
            <h4>{{'termsHeading12' | translate}}</h4>
            <p>{{'termsParagraph45' | translate}}</p>
            <p>{{'termsParagraph46' | translate}}</p>
            <h4>
                {{'termsHeading13' | translate}}
            </h4>
            <p>
                {{'termsParagraph47' | translate}}
            </p>
            <h4>{{'termsHeading14' | translate}}</h4>
            <p>
                {{'termsParagraph48' | translate}}
            </p>
            <h4>{{'termsHeading15' | translate}}</h4>
            <p>
                {{'termsParagraph49' | translate}}
            </p>
            <p>
                {{'termsParagraph50' | translate}}
            </p>
        </div>
    </div>
</section>