.side-nav {
    position: fixed;
    top: 70px;
    width: 280px;
    background-color: #223143;
    border-right: 1px solid #edf2f9;
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    .side-nav-list{
        background-color: #001528;
        li{
            display: block;
            width: auto;
            margin-bottom: 0px !important;
            font-family: "josefin_sansregular";
            font-size: 18px;
            border-bottom: 1px solid #282929;
            border-right:2px solid transparent;
            margin-top: 0px;
            a{
                color:#fff;   
            }
            &.ant-menu-item-selected{
                background-color:transparent;
                border-right:2px solid #ff4020;
                &:after{
                    border:0px;
                }
                a{
                    color:#ff4020;
                    .anticon{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @include transition(all 0.2s ease); 

    @include screen-tablet {
        left: -$side-nav-width;
    } 

    @include screen-laptop-only {
        width: $side-nav-width-laptop;
    }

    .side-nav-menu {
        margin-bottom: 20px;
        
        &:not(.ant-menu-inline-collapsed) {
            .dropdown-menu {
                display: none;
            }

            .ant-menu-submenu-open {

                > .dropdown-menu {
                    display: block !important;
                }    
            }
        }

        &.ant-menu-inline-collapsed {
           
            .ant-menu-submenu {
                position: relative;

                .ant-menu {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 0px;
                    left: 100%;
                    min-width: 200px;
                    margin-left: 4px;
                    border-radius: $border-radius;
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    >.ant-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.ant-menu-submenu-inline {

                    > .ant-menu-submenu-title {

                        .ant-menu-submenu-arrow {
        
                            &:after {
                                @include transform(rotate(-45deg) translateX(-2px));
                            }
        
                            &:before {
                                @include transform(rotate(-130deg) translateX(2px));
                            }
                        }
                    }
                }
            }

            .ant-menu-sub {
                box-shadow: 0 2px 8px rgba(0,0,0,.15);
            }

            .p-l-50 {
                padding-left: 20px !important;
            }

            .p-l-30 {
                padding-left: 0px !important;
            }
        }
    }
}

.is-folded {
    .side-nav {
        width: $side-nav-folded;

        .ant-menu-inline-collapsed {
            width: $side-nav-folded - 1px;
        }
         .side-nav-list {
            li{
                padding: 0px;
                a{
                    display: flex;
                    .anticon{
                        font-size: 16px;
                        margin: auto;
                    }
                    span{
                        opacity: 0;
                        display: inline-block;
                        width:0px;
                    }
                }
            }
        }
        
    }   

    perfect-scrollbar {
        overflow: visible;

        .ps {
            overflow: visible !important;
        }

        .ps__rail-y,
        .ps__rail-x {
            display: none;
        }
    }    
}

.is-expand {
    @include screen-tablet {
        .side-nav {
            left: 0px;
        }   
    }
}

.is-side-nav-dark {
    .side-nav {
        background-color: $menu-dark-bg;
    }
}

@each $theme in $theme-color-loop {
    .#{nth($theme, 1)} {

        &:not(.is-side-nav-dark) {

            .side-nav-menu {
                .ant-menu:not(.ant-menu-horizontal)  {

                    .ant-menu-item-selected { 
                        background: rgba(nth($theme, 2), 0.1);
                        
                        a {
                            color: #{nth($theme, 2)};
                        }
                    }
                }
    
                .ant-menu-inline,
                .ant-menu-vertical,
                .ant-menu-vertical-left,
                .ant-menu-vertical-right {
                    .ant-menu-item {
                        &:after {
                            border-right: 3px solid #{nth($theme, 2)};
                        }
                    }
                }

                .ant-menu-item, 
                .ant-menu-submenu-title {

                    &:active {
                        background: rgba(nth($theme, 2), 0.1);
                    }

                    > a {

                        &:hover {
                            color: #{nth($theme, 2)};
                        }
                    }
                }

                .ant-menu-submenu-title {
                    &:hover {
                        color: #{nth($theme, 2)};

                        .ant-menu-submenu-arrow{
                            &:after,
                            &:before {
                                background: linear-gradient(to right, nth($theme, 2), nth($theme, 2))
                            }
                        }
                    }
                }
            }
        }    
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px) {
    .side-nav{
        width: 280px;
    }
}