.ad-unit-tbl{
    border: 0px;
    background: #fff;
    padding: 15px;
    border: 1px solid #eee;
    margin: 20px 0px;
    .custom-btn{
        padding:7px 14px;
        font-size:13px;
        background: #5cb85c !important;
        color: #fff;
        border:0px !important;
        &.black-btn{
            background-color: #000 !important;
            color: #fff;
        }
        &.btn-red{
            background:#d9534f !important;
        }
        &:focus{
            border: 0px !important;
        }
    }
}