<div class="container">
    <div class="is-comman-title">{{'CardDetails' | translate}}</div>
    <div class="profile-article-list">

        <nz-card>
            <p>{{ 'CampBillingNote' | translate }}
            </p>

            <nz-alert nzType="info" nzMessage="{{'PaymentCardMsg' | translate}}" class="m-b-10" nzShowIcon
                *ngIf="paymentError"></nz-alert>

            <nz-skeleton *ngIf="!cards">

            </nz-skeleton>
            <div nz-row>
                <div class="credit-card  selectable" *ngFor="let card of cards" [class.selected]="card.isDefault === true">
                    <div class="credit-card-last4">
                        {{card.last4}}
                    </div>
                    <div class="credit-card-expiry">
                        {{card.exp_month}}/{{card.exp_year}}
                    </div>
                </div>
            </div>
            <button [disabled]="!companyId" type="button" (click)="updateBilling()" [nzLoading]="loading" nz-button
                nzType="primary">{{'CampBillingBtn' | translate}}</button>

        </nz-card>

    </div>
</div>