<section class="is-follower-member">

  <div class="container">
    <div class="is-comman-title">
      <!-- You might also like : -->
      {{'secTitle' | translate }}
    </div>
    <div class="is-member margin-minus" *ngIf="!(authorList | async)">
      <div class="is-member-item" *ngFor="let repeatSkeleton of skeletonData">
        <nz-skeleton-element *ngIf="!(authorList | async)" [nzLoading]="loading" nzType="avatar"
          class="custom-skeleton circle-box-skeleton" [nzShape]="square" [nzActive]="true"></nz-skeleton-element>
      </div>
    </div>
    <div class="is-member">
      <div class="is-member-item" *ngFor="let author of (authorList | async)">

        <a [routerLink]="['/',author.slug]" class="is-profile-img-link">
          <img [src]="replaceImage(author?.avatar?.url)!= unknown ? replaceImage(author?.avatar?.url) : DefaultAvatar"
            class="is-profile" [alt]="author?.avatar?.alt" *ngIf="author && !(author?.avatar?.cloudinary_id)">

          <ng-container *ngIf="author && (author?.avatar?.cloudinary_id)">
            <div class="cloudinary-img">
              <cl-image loading="lazy" public-id="{{replaceImage(author?.avatar?.cloudinary_id)}}" secure="true">
                <cl-transformation width="100" height="100" gravity="face" crop="thumb">
                </cl-transformation>
                <cl-transformation radius="100">
                </cl-transformation>
              </cl-image>
            </div>
          </ng-container>

        </a>

      </div>

    </div>
    <div class="is-more-btn">
      <button nz-button nzType="primary" class="is-see-more" routerLink="/today">
        {{'ViewAllStory' | translate}}</button>
    </div>
  </div>
</section>
