<app-hero-articles></app-hero-articles>

<app-top-contributors></app-top-contributors>

<section class="is-cat-box-card-main">
  <div class="cat-box bg-white">
    <div class="container">
      <div class="cat-box-title">
        <div class="article-title">
          <div class="title-txt"> {{'homeLatestStories' | translate}}</div>
          <span class="line"></span>
        </div>
      </div>
      <div class="cat-box-gallery">
        <div class="row" *ngIf="!latestArticles">
          <div class="col-sm-15" *ngFor="let article of skeletonData">
            <nz-skeleton *ngIf="!latestArticles" [nzAvatar]="true" [nzParagraph]="{ rows: 6 }"
              class="custom-skeleton card-skeleton"></nz-skeleton>
          </div>
        </div>
        <div class="row article-row">
          <div class="col-sm-15 box_shadow" *ngFor="let article of latestArticles | slice:5:10"
            [ngClass]="article.category.slug">
            <div class="item-card item-card-life-and-styles">
              <a [routerLink]="['/',article.author.slug,article.slug]">
                <div class="item-card-image">
                  <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt"
                    *ngIf="article && !(article?.image?.cloudinary_id)">
                  <ng-container *ngIf="article && (article?.image?.cloudinary_id)">
                    <div class="hide-avatar">
                      <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                    </div>
                  </ng-container>
                  <h3 class="is-category-title">{{article.category.title}}</h3>
                  <div class="article-image-icon" *ngIf="article.type==='audio'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="article.type==='video'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                    <i class="fas fa-angle-right"></i>
                  </div>
                  <div class="comment-right">
                    <div class="article-comment-info">
                      <div class="comment-section">
                        <ul>
                          <li *ngIf="article.view_count">
                            <a href="#">
                              <i class="fas fa-eye"></i>
                              {{article.view_count}}
                            </a>
                          </li>
                          <li *ngIf="article.likes_count">
                            <a href="#">
                              <i class="fas fa-heart"></i>
                              {{article.likes_count}}
                            </a>
                          </li>
                          <li *ngIf="article.comments_count">
                            <a href="#">
                              <i class="fa fa-comment"></i>
                              {{article.comments_count}}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="item-card-content">
                  <div class="item-card-category cat-yellow">
                    <div class="is-avatar-dv">
                      <div class="overlay-icon">
                        <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                          [alt]="article.author.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                          *ngIf="article && !(article?.author?.avatar?.cloudinary_id)">
                        <ng-container *ngIf="article && (article?.author?.avatar?.cloudinary_id)">
                          <div class="hide-feature-img">
                            <app-cloudinary-img [article]="article"></app-cloudinary-img>
                          </div>
                        </ng-container>
                        <app-article-avatar [article]="article"></app-article-avatar>
                      </div>
                      <span class="item-card-author">{{article.author.fullname}}</span>
                    </div>
                  </div>
                  <div class="item-card-title">
                    <h4 class="item-long-title">{{article.title}}</h4>
                  </div>
                  <div class="item-card-texte">
                    <p>{{article.excerpt}}</p>
                    <div class="category-article-readmore">
                      <div *ngIf="article.type==='audio'">
                        <button type="button" class="is-read-more">{{'ListenNow' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="article.type==='video'">
                        <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                            src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="!(article.type==='audio' || article.type==='video')">
                        <button type="button" class="is-read-more">{{'readMore' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div class="article-icon-main">
                        <div class="article-icon" *ngIf="article.type==='audio'">
                          <i class="fas fa-volume-down"></i>
                        </div>
                        <div class="article-icon" *ngIf="article.type==='video'">
                          <i class="fas fa-video"></i>
                        </div>
                        <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                          <i class="far fa-file-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="displayAd" class="ads-box" style="margin:0 auto;">
            <div adItem pointer="div-gpt-ad-home-0" style="margin: 10px auto; text-align:center;"></div>
          </div>
          <!-- <div class="is-more-btn">
                <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                   Load More
                </a>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="is-cat-box-card-main">
  <div class="cat-box bg-white">
    <div class="container">
      <div class="cat-box-title">
        <div class="article-title">
          <div class="title-txt"> {{'homeTopTrendingStories' | translate}}</div>
          <span class="line"></span>
        </div>
      </div>
      <div class="cat-box-gallery">
        <div class="row" *ngIf="!trendingArticles">
          <div class="col-sm-15" *ngFor="let article of TrendingskeletonData">
            <nz-skeleton *ngIf="!trendingArticles" [nzAvatar]="true" [nzParagraph]="{ rows: 6 }"
              class="custom-skeleton card-skeleton"></nz-skeleton>
          </div>
        </div>
        <div class="row article-row">
          <div class="col-sm-15 box_shadow" *ngFor="let article of trendingArticles | slice:0:15"
            [ngClass]="article.category.slug">
            <div class="item-card item-card-life-and-styles">
              <a [routerLink]="['/',article.author.slug,article.slug]">
                <div class="item-card-image">
                  <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt"
                    *ngIf="article && !(article?.image?.cloudinary_id)">
                  <ng-container *ngIf="article && (article?.image?.cloudinary_id)">
                    <div class="hide-avatar">
                      <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                    </div>
                  </ng-container>
                  <h3 class="is-category-title">{{article.category.title}}</h3>
                  <div class="article-image-icon" *ngIf="article.type==='audio'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="article.type==='video'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                    <i class="fas fa-angle-right"></i>
                  </div>
                  <div class="comment-right">
                    <div class="article-comment-info">
                      <div class="comment-section">
                        <ul>
                          <li *ngIf="article.view_count">
                            <a href="#">
                              <i class="fas fa-eye"></i>
                              {{article.view_count}}
                            </a>
                          </li>
                          <li *ngIf="article.likes_count">
                            <a href="#">
                              <i class="fas fa-heart"></i>
                              {{article.likes_count}}
                            </a>
                          </li>
                          <li *ngIf="article.comments_count">
                            <a href="#">
                              <i class="fa fa-comment"></i>
                              {{article.comments_count}}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="item-card-content">
                  <div class="item-card-category cat-yellow">
                    <div class="is-avatar-dv">
                      <div class="overlay-icon">
                        <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                          [alt]="article.author.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                          *ngIf="article && !(article?.author?.avatar?.cloudinary_id)">
                        <ng-container *ngIf="article && (article?.author?.avatar?.cloudinary_id)">
                          <div class="hide-feature-img">
                            <app-cloudinary-img [article]="article"></app-cloudinary-img>
                          </div>
                        </ng-container>
                        <app-article-avatar [article]="article"></app-article-avatar>
                      </div>
                      <span class="item-card-author">{{article.author.fullname}}</span>
                    </div>
                  </div>
                  <div class="item-card-title">
                    <h4 class="item-long-title">{{article.title}}</h4>
                  </div>
                  <div class="item-card-texte">
                    <p>{{article.excerpt}}</p>
                    <div class="category-article-readmore">
                      <div *ngIf="article.type==='audio'">
                        <button type="button" class="is-read-more">{{'ListenNow' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="article.type==='video'">
                        <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                            src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="!(article.type==='audio' || article.type==='video')">
                        <button type="button" class="is-read-more">{{'readMore' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div class="article-icon-main">
                        <div class="article-icon" *ngIf="article.type==='audio'">
                          <i class="fas fa-volume-down"></i>
                        </div>
                        <div class="article-icon" *ngIf="article.type==='video'">
                          <i class="fas fa-video"></i>
                        </div>
                        <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                          <i class="far fa-file-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="displayAd" class="ads-box" style="margin:0 auto;">
            <div adItem pointer="div-gpt-ad-home-1" style="margin: 10px auto;  text-align:center;"></div>
          </div>
          <!-- <div class="is-more-btn">
                <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                   Load More
                </a>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="is-cat-box-card-main">
  <div class="cat-box bg-white">
    <div class="container">
      <div class="cat-box-title">
        <div class="article-title">
          <div class="title-txt"> {{'homeEditorspick' | translate}}</div>
          <span class="line"></span>
        </div>
      </div>
      <div class="cat-box-gallery">
        <div class="row" *ngIf="!editorArticles">
          <div class="col-sm-15" *ngFor="let article of skeletonData">
            <nz-skeleton *ngIf="!editorArticles" [nzAvatar]="true" [nzParagraph]="{ rows: 6 }"
              class="custom-skeleton card-skeleton"></nz-skeleton>
          </div>
        </div>
        <div class="row article-row">
          <div class="col-sm-15 box_shadow" *ngFor="let article of editorArticles | slice:0:5"
            [ngClass]="article.category.slug">
            <div class="item-card item-card-life-and-styles">
              <a [routerLink]="['/',article.author.slug,article.slug]">
                <div class="item-card-image">
                  <img [src]="replaceImage(article.image.url)" [alt]="article.image.alt"
                    *ngIf="article && !(article?.image?.cloudinary_id)">
                  <ng-container *ngIf="article && (article?.image?.cloudinary_id)">
                    <div class="hide-avatar">
                      <app-cloudinary-feature-img [article]="article"></app-cloudinary-feature-img>
                    </div>
                  </ng-container>
                  <h3 class="is-category-title">{{article.category.title}}</h3>
                  <div class="article-image-icon" *ngIf="article.type==='audio'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="article.type==='video'">
                    <i class="fas fa-play"></i>
                  </div>
                  <div class="article-image-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                    <i class="fas fa-angle-right"></i>
                  </div>
                  <div class="comment-right">
                    <div class="article-comment-info">
                      <div class="comment-section">
                        <ul>
                          <li *ngIf="article.view_count">
                            <a href="#">
                              <i class="fas fa-eye"></i>
                              {{article.view_count}}
                            </a>
                          </li>
                          <li *ngIf="article.likes_count">
                            <a href="#">
                              <i class="fas fa-heart"></i>
                              {{article.likes_count}}
                            </a>
                          </li>
                          <li *ngIf="article.comments_count">
                            <a href="#">
                              <i class="fa fa-comment"></i>
                              {{article.comments_count}}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="item-card-content">
                  <div class="item-card-category cat-yellow">
                    <div class="is-avatar-dv">
                      <div class="overlay-icon">
                        <img class="avatar" [src]="replaceImage(article.author.avatar?.url)"
                          [alt]="article.author.avatar?.alt" onerror="this.src='assets/images/default-avatar.png'"
                          *ngIf="article && !(article?.author?.avatar?.cloudinary_id)">
                        <ng-container *ngIf="article && (article?.author?.avatar?.cloudinary_id)">
                          <div class="hide-feature-img">
                            <app-cloudinary-img [article]="article"></app-cloudinary-img>
                          </div>
                        </ng-container>
                        <app-article-avatar [article]="article"></app-article-avatar>
                      </div>
                      <span class="item-card-author">{{article.author.fullname}}</span>
                    </div>
                  </div>
                  <div class="item-card-title">
                    <h4 class="item-long-title">{{article.title}}</h4>
                  </div>
                  <div class="item-card-texte">
                    <p>{{article.excerpt}}</p>
                    <div class="category-article-readmore">
                      <div *ngIf="article.type==='audio'">
                        <button type="button" class="is-read-more">{{'ListenNow' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="article.type==='video'">
                        <button type="button" class="is-read-more">{{'WatchNow' | translate }}<img
                            src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div *ngIf="!(article.type==='audio' || article.type==='video')">
                        <button type="button" class="is-read-more">{{'readMore' | translate }}
                          <img src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                      </div>
                      <div class="article-icon-main">
                        <div class="article-icon" *ngIf="article.type==='audio'">
                          <i class="fas fa-volume-down"></i>
                        </div>
                        <div class="article-icon" *ngIf="article.type==='video'">
                          <i class="fas fa-video"></i>
                        </div>
                        <div class="article-icon" *ngIf="!(article.type==='audio' || article.type==='video')">
                          <i class="far fa-file-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div *ngIf="displayAd" class="ads-box" style="margin:0 auto;">
            <div adItem pointer="div-gpt-ad-home-2" style="margin: 10px auto;  text-align:center;"></div>
          </div>
          <!-- <div class="is-more-btn">
                <a [routerLink]="['/category/', category.slug]" class="is-see-more">
                   Load More
                   
                </a>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
