::ng-deep body, ::ng-deep html{
  background: #fff;
  overflow-x: unset;
  min-width:unset;
}
:host ::ng-deep .ant-alert-icon {
  top: 6px;
}
.is-signup-main {
  .is-signup-form-main {
      .is-form {
          ::ng-deep .Succes-alert{
            .ant-alert-success{
                background-color:#fff;
                border:0px;
                text-align: center;
                svg{
                    margin-bottom: 30px;
                }
            }
          }
      }
  }
}