.m-l-5 {
  margin-left: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange-red {
  color: #ff4500;
}

.btn-refresh {
  background-color: orangered;
  color: white;
}

.lead-limit-span {
  margin-left: 20px;
}

.md-fnt {
  font-size: medium;
}
