:host ::ng-deep .billing-container .container {
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
}

.selected {
    border: 3px solid red;
}
/* MAIN CREDIT CARD CONTAINER */
