::ng-deep body,
::ng-deep html {
  background: #fff;
  overflow-x: hidden;
  min-width: unset;
  nz-avatar {
    i.anticon-user {
      color: white;
    }
  }
  .ant-upload.ant-upload-select.ant-upload-select-text {
    position: relative;
  }

  .bg-black.ant-btn.ant-btn-primary {
    position: absolute;
    bottom: 0;
    right: 5px;
    background-color: var(--color-black) !important;
    border-color: var(--color-black) !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.bg-welcome {
  background: url("../../../assets/images/onboarding/welcome.png") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
}

.box {
  height: 100px;
  border-radius: 5px;
}

.absolute-center {
  position: relative;
  top: 60%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform-origin: center center;
  transform: translate(-50%, -70%);
}

.is-login-btn {
  padding: 10px 20px;
  color: #fff;
  background: #ff4020;
  border-radius: 25px;
  font-family: "open_sansregular";
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: 0px;
  outline: none;
}

.back-btn {
  background: #c1c1c1;
  color: #000;
  padding: 7px 20px;
  border-radius: 25px;
  font-family: "open_sansregular";
  font-weight: 600;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border: 0px;
  outline: none;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .justify-md-content-center {
    justify-content: center;
  }
}

.check {
  color: var(--color-primary);
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 16px;
}

//TODO: Check if stakeholders like the new scrollbar to distribute it globally
::ng-deep {
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }
}
