<section class="is-followers-sec m-10" *ngIf="followers.length">
    <div class="container">
        <div class="is-followers-user">
            <div class="is-followers-item" *ngFor="let subscriber of followers">
                <a [routerLink]="['/',subscriber.slug]" target="_blank" title="{{subscriber?.fullname}}">
                    <img src="{{subscriber?.avatar?.url}}" onerror="this.src='assets/images/default-avatar.png'"
                        alt="{{subscriber?.avatar?.alt}}" />
                </a>
            </div>

        </div>
        <div *ngIf="lastVisibleFollowing"> <a (click)="loadMoreFollowers()"
                class="load-more-btn"><span>{{'loadMore' | translate}}</span></a>
            <nz-spin nzSimple *ngIf="loadingMoreFollowings"></nz-spin>
        </div>
    </div>
</section>
<div class="m-10" *ngIf="!followers.length">
    {{'NoFollowers' | translate}}
</div>