<section>
    <div class="container">
        <div class="is-follower-member">
            <div class="is-comman-title">
                {{'CampStaticText3' | translate}}
            </div>
            <div class="is-member">
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-1.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-2.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-3.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-4.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-5.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-6.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-7.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-8.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-9.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
                <div class="is-member-item">
                    <a class="is-profile-img-link">
                        <img src="assets/images/campaign/thumb-10.jpg" alt="" />
                        <div class="overlay-txt">
                            <h2>${{price}}</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="text-center">
                <button class="is-see-more" type="button"
                    (click)="buyTopContributor()">{{'CampBuyNow' | translate}}</button>
            </div>
        </div>
    </div>
</section>