<section class="sr-engine-sec">
    <div class="container">
        <div class="is-comman-title"> {{usertype | translate }} </div>
      <div class="position-relative">
        <!--visible spot on large Device-->
        <div class="sr-bar-with-ads">
            <div class="sr-bar">
              <div class="sr-box"> 
                <ais-instantsearch [config]="config">
                  <ais-search-box  placeholder="{{'search' | translate}}" (input)="onSearchChange($event.target.value)"  [ngClass]="showResult? 'Show-autocomplete-box' : 'hide-autocomplete-box'"></ais-search-box>
                  <ais-hits class="autocomplete-box" *ngIf="showResult" id="autocomplete-box">
                    <ng-template let-hits="hits" let-results="results">
                      <div class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"
                        [ngStyle]="{'order': OrderIndex + i}">
                        <ul *ngIf="showResult">
                          <li>
                            <a [routerLink]="['/companies',hit.slug]" *ngIf="hit.type==='company'">
                              <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/charities',hit.slug]" *ngIf="hit.type==='charity'">
                              <ais-highlight attribute="bio" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='audio'">
                              <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='video'">
                              <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='text'">
                              <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/',hit.slug]" *ngIf="hit.type==='author'">
                              <ais-highlight attribute="fullname" [hit]="hit"></ais-highlight>
                            </a>
                            <a [routerLink]="['/fundraisers',hit.slug]" *ngIf="hit.type==='fundraiser'">
                              <ais-highlight attribute="fundraiser" [hit]="hit"></ais-highlight>
                            </a>
      
                            
                            
                            <!-- <a class="ais-Highlight">{{hit?.title}}</a> -->
      
                            <!-- <a [ngClass]="(CurrentValue === hit?.title )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/companies',hit.slug]" *ngIf="hit.type==='company'">{{hit?.title}}</a>
                            <a [ngClass]="(CurrentValue === hit?.bio )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/charities',hit.slug]" *ngIf="hit.type==='charity'">{{hit?.bio}}</a>
                            <a [ngClass]="(CurrentValue === hit?.title )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='audio'">{{hit?.title}}</a>
                            <a [ngClass]="(CurrentValue === hit?.title )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='video'">{{hit?.title}}</a>
                            <a [ngClass]="(CurrentValue === hit?.title )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/',hit.author.slug,hit.slug]" *ngIf="hit.type==='text'">{{hit?.title}}</a>
                            <a [ngClass]="(CurrentValue === hit?.fullname )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/',hit.slug]" *ngIf="hit.type==='author'">{{hit?.fullname}}</a>
                            <a [ngClass]="(CurrentValue === hit?.fundraiser )? 'highlightResult' : 'highlightResultBlack'" [routerLink]="['/fundraisers',hit.slug]" *ngIf="hit.type==='author'">{{hit?.fundraiser}}</a> -->
      
                          </li>
                          
                        </ul>
                      </div>
                      
                    </ng-template>
                  </ais-hits>       
                </ais-instantsearch>      
              </div>
            </div>
          </div>
      </div>
      <!--End visible spot on large Device-->
  
      
        <div nzTitle="Bloggers" *ngIf="usertype=='blogger'">
          <ais-instantsearch [config]="bloggersConfig">
            <ais-configure [searchParameters]="searchParameters"></ais-configure>
            <ais-hits>
              <ng-template let-hits="hits" let-results="results">
                <div class="sr-article-sec">
                  <div class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"
                    [ngStyle]="{'order': OrderIndex + i}">
                    <div [routerLink]="['/',hit.slug]">
                      <div class="sr-article-img">
                        <img [src]="hit?.avatar?.url" alt="hit?.avatar?.alt"
                          *ngIf="!(hit?.avatar?.cloudinary_id); else bloggerLogo" />
                        <ng-template #bloggerLogo>
                          <div class="cloudinary-img">
                            <cl-image loading="lazy" public-id="{{hit?.avatar?.cloudinary_id}}" secure="true">
                              <cl-transformation width="260" height="220" gravity="face" crop="thumb">
                              </cl-transformation>
                            </cl-image>
                          </div>
                        </ng-template>
                      </div>
                      <div class="sr-article-detail">
                        <div class="sr-article-txt">
                          <h2>{{hit?.fullname}}</h2>
                          <div class="category-article-readmore">
                            <div>
                              <button type="button" class="is-read-more">{{'showNow' | translate }} <img
                                  src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                            </div>
                          </div>
                        </div>
                        <div class="sr-avtar bg-black">
                          <img src="assets/images/blogger.svg" alt="blogger icon"
                            onerror="this.src='assets/images/default-avatar.png'" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="hits.length === 0">
                  <h1 class="text-center">No data found</h1>
                </div>
                <ais-pagination *ngIf="hits.length != 0"></ais-pagination>
              </ng-template>
            </ais-hits>
          </ais-instantsearch>
        </div>

        <div nzTitle="Guestposters" *ngIf="usertype=='guest'">
            <ais-instantsearch [config]="guestpostersConfig">
              <ais-configure [searchParameters]="searchParameters"></ais-configure>
              <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                  <div class="sr-article-sec">
                    <div class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"
                      [ngStyle]="{'order': OrderIndex + i}">
                      <div [routerLink]="['/',hit.slug]">
                        <div class="sr-article-img">
                          <img [src]="hit?.avatar?.url" alt="hit?.avatar?.alt"
                            *ngIf="!(hit?.avatar?.cloudinary_id); else bloggerLogo" />
                          <ng-template #bloggerLogo>
                            <div class="cloudinary-img">
                              <cl-image loading="lazy" public-id="{{hit?.avatar?.cloudinary_id}}" secure="true">
                                <cl-transformation width="260" height="220" gravity="face" crop="thumb">
                                </cl-transformation>
                              </cl-image>
                            </div>
                          </ng-template>
                        </div>
                        <div class="sr-article-detail">
                          <div class="sr-article-txt">
                            <h2>{{hit?.fullname}}</h2>
                            <div class="category-article-readmore">
                              <div>
                                <button type="button" class="is-read-more">{{'showNow' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                              </div>
                            </div>
                          </div>
                          <div class="sr-avtar bg-black">
                            <img src="assets/images/guest-post.svg" alt="guest-post icon"
                              onerror="this.src='assets/images/default-avatar.png'" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="hits.length === 0">
                    <h1 class="text-center">No data found</h1>
                  </div>
                  <ais-pagination *ngIf="hits.length != 0"></ais-pagination>
                </ng-template>
              </ais-hits>
            </ais-instantsearch>
        </div>

        <div nzTitle="Vloggers" *ngIf="usertype=='vlogger'">
            <ais-instantsearch [config]="vloggersConfig">
              <ais-configure [searchParameters]="searchParameters"></ais-configure>
              <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                  <div class="sr-article-sec">
                    <div class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"
                      [ngStyle]="{'order': OrderIndex + i}">
                      <div [routerLink]="['/',hit.slug]">
                        <div class="sr-article-img">
                          <img [src]="hit?.avatar?.url" alt="hit?.avatar?.alt"
                            *ngIf="!(hit?.avatar?.cloudinary_id); else bloggerLogo" />
                          <ng-template #bloggerLogo>
                            <div class="cloudinary-img">
                              <cl-image loading="lazy" public-id="{{hit?.avatar?.cloudinary_id}}" secure="true">
                                <cl-transformation width="260" height="220" gravity="face" crop="thumb">
                                </cl-transformation>
                              </cl-image>
                            </div>
                          </ng-template>
                        </div>
                        <div class="sr-article-detail">
                          <div class="sr-article-txt">
                            <h2>{{hit?.fullname}}</h2>
                            <div class="category-article-readmore">
                              <div>
                                <button type="button" class="is-read-more">{{'showNow' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                              </div>
                            </div>
                          </div>
                          <div class="sr-avtar bg-black">
                            <img src="assets/images/vlogger.svg" alt="vlogger icon"
                              onerror="this.src='assets/images/default-avatar.png'" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="hits.length === 0">
                    <h1 class="text-center">No data found</h1>
                  </div>
                  <ais-pagination *ngIf="hits.length != 0"></ais-pagination>
                </ng-template>
              </ais-hits>
            </ais-instantsearch>
        </div>
          <div nzTitle="Podcasters" *ngIf="usertype=='podcaster'">
            <ais-instantsearch [config]="podcasterConfig">
              <ais-configure [searchParameters]="searchParameters"></ais-configure>
              <ais-hits>
                <ng-template let-hits="hits" let-results="results">
                  <div class="sr-article-sec">
                    <div class="sr-article-sec-item" *ngFor="let hit of hits; let i=index"
                      [ngStyle]="{'order': OrderIndex + i}">
                      <div [routerLink]="['/',hit.slug]">
                        <div class="sr-article-img">
                          <img [src]="hit?.avatar?.url" alt="hit?.avatar?.alt"
                            *ngIf="!(hit?.avatar?.cloudinary_id); else bloggerLogo" />
                          <ng-template #bloggerLogo>
                            <div class="cloudinary-img">
                              <cl-image loading="lazy" public-id="{{hit?.avatar?.cloudinary_id}}" secure="true">
                                <cl-transformation width="260" height="220" gravity="face" crop="thumb">
                                </cl-transformation>
                              </cl-image>
                            </div>
                          </ng-template>
                        </div>
                        <div class="sr-article-detail">
                          <div class="sr-article-txt">
                            <h2>{{hit?.fullname}}</h2>
                            <div class="category-article-readmore">
                              <div>
                                <button type="button" class="is-read-more">{{'showNow' | translate }} <img
                                    src="assets/images/read-more-icon-black.png" alt="Read More" /></button>
                              </div>
                            </div>
                          </div>
                          <div class="sr-avtar bg-black">
                            <img src="assets/images/podcaster.svg" alt="podcaster icon"
                              onerror="this.src='assets/images/default-avatar.png'" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="hits.length === 0">
                    <h1 class="text-center">No data found</h1>
                  </div>
                  <ais-pagination *ngIf="hits.length != 0"></ais-pagination>
                </ng-template>
              </ais-hits>
            </ais-instantsearch>
        </div>
       
     
    </div>
  </section>
  