.is-avatar-dv{
  display: flex;
  align-items: center;
.overlay-icon{
  position: relative;
  width:50px;
  .avatar {
    width: 50px;
    height: 50px;
    color: transparent;
    border-radius: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    object-fit: cover;
    border: 1px solid #eee;
  }
    .special-icon{
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      background: #000;
      border: 1px solid #fff;
      display: flex;
      border-radius: 100%;
      img{
        max-width: 20px;
        margin: auto;
      }
    }

}
}

.special-icon{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 28px;
  height: 28px;
  background: #000;
  border: 1px solid #fff;
  display: flex;
  border-radius: 100%;
  img{
    max-width: 22px;
    margin: auto;
  }
}