<div class="container">
    <div class="profile-setting-main">
        <div class="page-header has-tab">
            <h2 class="font-weight-normal"> {{ 'fundraiserInfo' | translate }}</h2>
        </div>
        <nz-tabset class="page-header-tab">
            <nz-tab nzTitle="{{'fundraiserDetails'| translate}}">
                <router-outlet></router-outlet>
            </nz-tab>
            <nz-tab nzTitle="{{'fundraiserDonation'| translate}}">
                <app-fundraiser-donation></app-fundraiser-donation>
            </nz-tab>
        </nz-tabset>
    </div>
</div>