<section class="is-signup-main import-email-section"
  style="background: url(assets/images/sign-up/connecting.png) bottom right no-repeat; background-size: contain;">
  <img [routerLink]="['/']" src="assets/images/sign-up/logo.svg" class="onboarding-logo" alt="">
  <nz-select (ngModelChange)="switchLang($event)" [(ngModel)]="selectedLanguage" class="language-dropdown">
    <nz-option *ngFor="let option of languageList" [nzLabel]="option.label" [nzValue]="option.code">
      {{ option.label }}
    </nz-option>
  </nz-select>
  <div class="is-signup-form-main">
    <div class="is-form">
      <div>
        <h2 class="text-32">{{'ImportemailOnboarding' | translate}}</h2>
        <div>
          <div id="choose-account-ui">
            <div class="field-group provider-link-sec">
              <ul class="import-contact-icon">
                <li class="mail-box">
                  <a class="provider-link cloudsponge-launch" data-cloudsponge-source="gmail"
                    (click)="setProviderLoadingStatus('gmail',true)">
                    <img class="mail-box-item" src="assets/images/onboarding/gmail.svg">
                    <p class="m-0">{{'socialmedia.gmail' | translate}}</p>
                  </a>
                </li>
                <li class="mail-box">
                  <a class="provider-link cloudsponge-launch" data-cloudsponge-source="yahoo"
                    (click)="setProviderLoadingStatus('yahoo',true)">
                    <img class="mail-box-item" src="assets/images/onboarding/yahoo.svg">
                    <p class="m-0">{{'socialmedia.yahoo' | translate}}</p>
                  </a>
                </li>
                <li class="mail-box">
                  <a class="provider-link cloudsponge-launch" data-cloudsponge-source="windowslive">
                    <img class="mail-box-item" src="assets/images/onboarding/outlook.svg"
                      (click)="setProviderLoadingStatus('outlook',true)">
                    <p class="m-0">{{'socialmedia.outlook' | translate}}</p>
                  </a>
                </li>
              </ul>
              <ul class="import-contact-icon">
                <li class="mail-box">
                  <a class="provider-link cloudsponge-launch" data-cloudsponge-source="facebook"
                    (click)="setProviderLoadingStatus('facebook',true)">
                    <i class="fab fa-facebook fa-3x facebook mail-box-item"></i>
                    <p class="m-0">{{'socialmedia.facebook' | translate}}</p>
                  </a>
                </li>
                <li class="mail-box">
                  <a href="tel:">
                    <i class="fas fa-comment-dots fa-2x sms mail-box-item"></i>
                    <p class="m-0">{{'socialmedia.sms' | translate}}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>


          <nz-tabset [nzType]="'card'" class="m-t-10 import-tab-main import-contact-table">
            <nz-tab [nzTitle]="titleTemplate" *ngFor="let provider of providerList">
              <ng-template #titleTemplate>
                <div (click)="loadCotactsFromServer(provider.name)">
                  {{ provider.title }}

                </div>
              </ng-template>

              <nz-table #nzTable [nzData]="importedContact[provider.name]" nzTableLayout="fixed"
                class="m-t-10 import-contact-tbl" [nzLoading]="provider.loading" [nzNoResult]="noResultTemplate">
                <ng-template #noResultTemplate>
                  <nz-empty [nzNotFoundImage]="defaultSvg" [nzNotFoundContent]="'noData' | translate">
                  </nz-empty>
                </ng-template>
                <thead>
                  <tr>
                    <th class="import-contact-check-box-th" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                      (nzCheckedChange)="onAllChecked($event,provider.name)"></th>
                    <th nzCustomFilter>
                      {{'importName' | translate}}
                    </th>
                    <th>{{'importEmail' | translate}}</th>
                    <th class="import-contact-invite-th">{{ 'sendInvitation' | translate }}</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let data of nzTable.data">
                    <td class="import-contact-check-box"
                      [nzChecked]="isChecked(selectedContacts[provider.name][data.fullname + data?.email])"
                      (nzCheckedChange)="onItemChecked(data.fullname+ data?.email, $event,provider.name,data)">
                    </td>
                    <td class="import-contact-name">{{ data.fullname}}</td>
                    <td class="import-contact-email">{{ data.email}}</td>
                    <td class="import-contact-invite-btn">
                      <p *ngIf='data.isInvited'>
                        <i nz-icon nzType="check-circle" nzTheme="outline"></i>
                      </p>
                      <button *ngIf='!data.isInvited' (click)="sendInvite(data, provider.name)" nz-button
                        [nzLoading]="data.isSendingInvite">
                        {{'InviteOnboarding' | translate}}
                      </button>
                    </td>
                  </tr>
                </tbody>
              </nz-table>

              <div class="skip-btn-main">
                <button nz-button nzType="primary" [disabled]="!hasSelectedData(provider.name)" [nzLoading]="loading"
                  (click)="importContact(provider.name)">
                  {{'import' | translate}} {{provider.title}} {{'importContact' | translate}}
                </button>
                <button [routerLink]="['/auth/feed']" class="skip-btn" type="button">{{'button.skip' | translate }}</button> 
              </div>
            </nz-tab>
          </nz-tabset>
        </div>

        <div class="footer-btn">
          <a (click)="backClicked()" class="is-login-btn back-btn">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path
                  d="M0.286427 11.8087C0.286718 11.8084 0.286963 11.8081 0.287304 11.8078L5.39004 6.72969C5.77231 6.34927 6.39062 6.35068 6.77114 6.73301C7.15161 7.11528 7.15015 7.73359 6.76787 8.11406L3.34189 11.5234H24.0234C24.5628 11.5234 25 11.9606 25 12.5C25 13.0394 24.5628 13.4766 24.0234 13.4766H3.34194L6.76782 16.8859C7.1501 17.2664 7.15156 17.8847 6.77109 18.267C6.39058 18.6494 5.77222 18.6507 5.38999 18.2703L0.287256 13.1922C0.286963 13.1919 0.286718 13.1916 0.286377 13.1913C-0.0960941 12.8095 -0.0948734 12.1892 0.286427 11.8087Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="25" height="25" fill="white" transform="matrix(-1 0 0 1 25 0)" />
                </clipPath>
              </defs>
            </svg>
            {{'Back' | translate}}
          </a>
          <button [routerLink]="['/auth/feed']" nz-button class="is-login-btn" [nzType]="'primary'">{{'Next' |
            translate}}
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
                <path
                  d="M24.7136 11.8087C24.7133 11.8085 24.713 11.8081 24.7127 11.8078L19.61 6.72969C19.2277 6.34927 18.6094 6.35069 18.2289 6.73301C17.8484 7.11529 17.8499 7.7336 18.2321 8.11407L21.6581 11.5234H0.976562C0.437207 11.5234 0 11.9606 0 12.5C0 13.0394 0.437207 13.4766 0.976562 13.4766H21.6581L18.2322 16.8859C17.8499 17.2664 17.8484 17.8847 18.2289 18.267C18.6094 18.6494 19.2278 18.6507 19.61 18.2703L24.7127 13.1922C24.713 13.1919 24.7133 13.1916 24.7136 13.1913C25.0961 12.8095 25.0949 12.1892 24.7136 11.8087Z"
                  fill="white" />
              </g>
              <defs>
                <clipPath id="clip0">
                  <rect width="25" height="25" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
