<section>
    <div class="container">

        <div class="is-hero">
            <div class="is-comman-title">
                {{'CampSponPost' | translate}}
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-7">
                    <a class="is-hero-card">
                        <img src="assets/images/campaign/post-1.jpg" />
                        <div class="overlay-txt">
                            <h2>{{'CampStaticTitleHere' | translate}}</h2>
                            <p>${{price}}</p>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                    <a class="is-hero-card">
                        <img src="assets/images/campaign/post-2.jpg" />
                        <div class="overlay-txt">
                            <h2>{{'CampStaticTitleHere' | translate}}</h2>
                            <p>${{price}}</p>
                        </div>
                    </a>
                </div>

            </div>

            <div class="is-bottom-hero">
                <div class="row is-row-height pt-18">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <a class="is-hero-card is-small-card">
                            <img src="assets/images/campaign/post-3.jpg" />
                            <div class="overlay-txt">
                                <h2>{{'CampStaticTitleHere' | translate}}</h2>
                                <p>${{price}}</p>
                            </div>

                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <a class="is-hero-card is-small-card">
                            <img src="assets/images/campaign/post-4.jpg" />
                            <div class="overlay-txt">
                                <h2>{{'CampStaticTitleHere' | translate}}</h2>
                                <p>${{price}}</p>
                            </div>

                        </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <a class="is-hero-card is-small-card">
                            <img src="assets/images/campaign/post-5.jpg" />
                            <div class="overlay-txt">
                                <h2>{{'CampStaticTitleHere' | translate}}</h2>
                                <p>${{price}}</p>
                            </div>

                        </a>
                    </div>

                </div>


            </div>

            <div class="text-center mb-4 mt-4">
                <button type="button" class="is-see-more"
                    (click)="buyPostCampaign()">{{'CampBuyNow' | translate}}</button>
            </div>
        </div>
    </div>
</section>