<section class="is-cat-box-card-main">
    <div class="cat-box bg-white">
        <div class="container">
            <div class="is-comman-title"> {{ 'charitiesTitle' | translate }} </div>
            <ais-instantsearch [config]="config">
                <ais-search-box></ais-search-box>
                <ais-hits>
                    <ng-template let-hits="hits">
                        <div class="row">
                            <div *ngFor="let charity of hits" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                                <div class="item-card item-card-life-and-styles">
                                    <a [routerLink]="['/charities',charity.slug]">
                                        <div class="item-card-image">
                                            <img [src]="charity?.cover.url" [alt]="charity?.cover?.alt"
                                                *ngIf="!(charity.cover.cloudinary_id); else charityFeatureCloudinaryImg" />
                                            <ng-template #charityFeatureCloudinaryImg>
                                                <cl-image loading="lazy" public-id="{{charity.cover.cloudinary_id}}"
                                                    secure="true">
                                                    <cl-transformation width="260" height="180" gravity="face" crop="thumb">
                                                    </cl-transformation>
                                                </cl-image>
                                            </ng-template>
                                        </div>
                                        <div class="item-card-content">
                                            <div class="item-card-category cat-yellow">
                                                <div class="is-avatar-dv">
                                                    <div class="overlay-icon">
                                                    <img class="avatar" [src]="charity?.logo.url"
                                                        [alt]="charity?.logo?.alt"
                                                        onerror="this.src='assets/images/default-avatar.png'"
                                                        *ngIf="!(charity.logo.cloudinary_id); else charityCloudinaryImg" />
                                                    <ng-template #charityCloudinaryImg>
                                                        <cl-image loading="lazy" public-id="{{charity.logo.cloudinary_id}}"
                                                            secure="true">
                                                            <cl-transformation width="50" height="50" gravity="face"
                                                                crop="thumb">
                                                            </cl-transformation>
                                                        </cl-image>
                                                    </ng-template>
                                                    <app-article-avatar [article]="charity"></app-article-avatar>
                                                    </div>
                                                    <span class="item-card-author">{{ charity?.title }}</span>
                                                </div>
                                            </div>
                                            <!-- <div class="item-card-title">
                                                <h4 class="item-long-title">{{ fundraiser?.title }}</h4>
                                            </div> -->
                                            <div class="item-card-texte">
                                                <p>{{ charity?.bio }}</p>
                                                <div class="fund-detail-main">
                                                    <div class="fund-detail">
                                                        <div class="fund-box">
                                                            <h3>
                                                                {{ 'Raised' | translate }}:
                                                                <span>{{ charity?.amount | currency :'USD':'symbol':'1.0-2' }}</span>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fund-detail-main mt-4">
                                                    <div class="fund-detail">
                                                        <div class="fund-box">
                                                            <button type="button"
                                                                class="is-read-more">{{ 'donateFundraiserTitle' | translate }}
                                                                <i class="fas fa-heart"></i></button>
                                                        </div>
                                                        <div class="fund-box">
                                                            <h3>
                                                                <span>
                                                                    <img src="assets/images/donor-icon.png"
                                                                        alt="" />
                                                                <!-- {{ fundraiser?.donor_count | number:'1.0-0' }} -->
                                                                </span>
                                                                {{ 'fundraiserDonors' | translate }}
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
    
                        <div *ngIf="hits.length === 0">
                            <div class="box-center">
                                <nz-result [nzIcon]="'crown'" [nzTitle]="'CreateCharity' | translate">
                                    <div nz-result-extra>
                                        <button nz-button nzType="primary" (click)="checkLogin()">{{'CreateCharityBtn' | translate}}</button>
                                        <div class="login-popup" *ngIf="!(isLoggedInUser)">
                                            <nz-modal [(nzVisible)]="isVisible" nzTitle="My Trending Stories" (nzOnCancel)="handleCancel()"
                                                (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
                                                <div class="popup-content">
                                                    <div>
                                                        <a [routerLink]="['/']" class="bg-logo">
                                                            <img src="assets/images/logo/logo-circle.png" alt="My Trending Stories">
                                                        </a>
                                                    </div>
                                                    <p class="text-black">
                                                        {{'Please' | translate}}, 
                                                        <a routerLink="/auth/login">{{'logInTitle' | translate}}</a> 
                                                        {{'or' | translate}}
                                                        <a routerLink="/auth/signup">{{'signUp' | translate}}</a>
                                                        {{'toContinue' | translate}}.
                                                    </p>
                                                </div>
                                            </nz-modal>
                                        </div>
                                    </div>
                                </nz-result>
                            </div>
                        </div>
                    </ng-template>
                </ais-hits>
                <ais-configure [searchParameters]="{ hitsPerPage: 16 }"></ais-configure>
                <ais-pagination></ais-pagination>
            </ais-instantsearch>
        </div>
    </div>
</section>