/* Widgt UI Elements that we want to keep hidden */
#cloudsponge-overlay, /* Hide the widget overlay because we're going to display the UI inline */
#cloudsponge-loading-tab,
.cloudsponge-close-button,
.cloudsponge-back-close,
.cloudsponge-back-button {
    visibility: hidden;
}
#cloudsponge-root-holder #cloudsponge-address-book .cloudsponge-copyright {
    position: inherit;
    margin-top: 30px;
}
/* By default, this element uses fixed positioning on the page. Since we're inline we override it */
#cloudsponge-root-holder #cloudsponge-address-book {
    position: initial;
    margin: initial;
}
/* This can be a px or em value, or we can just make it as big as the container element */
#cloudsponge-root-holder {
    height: 100%;
}
/* The list of contacts will render in this div, we need to make sure it has dimensions for the widget to fill */
#choose-contacts-ui {
    height: 600px;
    width: 700px;
}
/* I've separtated out these style, since they are styling the deep links on the page. */
/* These styles are based on Yelp's */

.provider-link-sec{
    padding: 15px 0px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.provider-link {
    display: inline-block;
    padding: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    text-align: center;
    cursor: default;
    transition: 0.5s all ease;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.provider-link:hover {
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.02);
    transform: translateY(-10px);
    border-color: #e4e4e4;
}
.provider-link img {
    display: block;
    max-width: 100%;
}
::ng-deep .import-contact-tbl{
    margin-top: 10px;
}
::ng-deep .import-contact-tbl .ant-table-thead tr{
    background: #eee;
    font-family: "josefin_sansregular";
}
::ng-deep .import-contact-tbl .ant-table-thead tr th:nth-child(1){
    width: 60px;
}
::ng-deep .import-contact-tbl tbody tr td{
    font-family: "open_sansregular";
}
::ng-deep .import-contact-tbl tbody tr:hover td{
    background: #eee;
}

::ng-deep .import-contact-tbl .ant-table-filter-column-title{
    flex: unset;
}
::ng-deep .import-contact-tbl  .ant-table-filter-trigger-container{
    position: unset;
}
::ng-deep .import-contact-tbl  .ant-table-filter-trigger-container:hover{
    background: transparent;
}
::ng-deep .import-contact-tbl .ant-table-filter-trigger .anticon{
    font-size: 18px;
    position: relative;
    top: 26px;
    color: #000;
}
::ng-deep .import-contact-tbl .ant-table-pagination-right{
    float:none;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
::ng-deep .import-tab-main .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab{
    border:0px;
    background: transparent;
    height: 45px;
    font-family: "josefin_sansregular";
    color:#000;
    line-height: 47px
}
::ng-deep .import-tab-main .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active,
::ng-deep .import-tab-main .ant-tabs-bar .ant-tabs-nav-wrap .ant-tabs-nav .ant-tabs-tab:hover
{
    border:0px;
    background: #ff563a;
    color:#fff;
}
@media screen and (max-width:580px){
    .provider-link-sec{
        justify-content: center;
    }
    .provider-link {
        width: calc(50% - 10px);
    }
    ::ng-deep .import-contact-tbl .ant-table table{
        display: table-caption;
    }

}