.bg-primary {
  background-color: var(--color-primary);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-light-gray {
  background-color: var(--color-light-gray);
}

.bg-black {
  background-color: var(--color-black) !important;
}
