.semi-bold {
  font-family: "josefin_sanssemibold";
}

.fw-500 {
  font-weight: 500px !important;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-32 {
  font-size: 32px !important;
}
