/* All colors within the project should be stored here */
:root {
  --color-primary: #ff4020;
  --color-gray: #6f6f6f;
  --color-alt-gray: #c1c1c1;
  --color-light-gray: #eeeeee;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-placeholder: #f4f4f4;
  --color-placeholder-text: #646161;
  --color-light-warn: #fcbfb4;
}
