<section>
    <div class="container">
        <div class="sr-engine-sec">
            <div class="is-comman-title">
                {{'CampStaticText' | translate}}
            </div>
            <div class="sr-brand">
                <div class="sr-brand-item" *ngFor="let brands of articleBrand">
                    <div class="sr-brand-logo"><img src="{{brands.image}}" /></div>
                    <span class="sr-brand-name">{{brands.name}}</span>
                </div>
                <div class="sr-brand-item btn">
                    <a (click)="buySearchEngineSpot()">{{'CampBuyNow' | translate}}</a>
                </div>
            </div>
            <div class="sr-bar-with-ads">
                <div class="ads">
                    <span>Ads</span>
                </div>
                <div class="sr-bar">
                    <div class="sr-box">
                        <input type="text" class="sr-input-bar" placeholder="">
                        <img src="assets/images/campaign/search-icon.png" alt="">
                    </div>
                </div>
                <div class="ads">
                    <span>Ads</span>
                </div>
            </div>
            <div class="sr-article-sec">

                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/search-engine/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item ads-main">
                    <div class="ads">{{'CampStaticText2' | translate}}</div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}}</h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="sr-article-sec-item">

                    <div class="sr-article-img"><img src="assets/images/campaign/article.jpg" alt="" /></div>
                    <div class="sr-article-detail">
                        <div class="sr-article-txt">
                            <h2>{{'CampStaticText1' | translate}} </h2>
                        </div>
                        <div class="sr-avtar">
                            <img src="assets/images/campaign/1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>