.is-followers-sec {
    background: #fff;
    
    .is-followers-user {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .is-followers-item {
            margin: 0px 15px 20px 15px;
            img {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            object-fit: cover;
            background: #ff4020;
            }

        }
    }
}

.load-more-btn{
    text-align: center;
    display: flex;
    justify-content: center;
    
    span{
        font-size: 18px;
        background: #ff4020;
        border: 0px;
        color: #fff;
        padding: 10px 25px 8px 25px;
        cursor: pointer;
        font-family: "josefin_sansregular";
        border-radius: 55px;
        line-height: 26px;
        display: flex;
        align-items: center;
        outline: none;
        display:inline-block;
    }
}

.is-comman-title {
    color: #000;
    padding: 30px 0px 10px 0px;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    text-align: center;
    font-family: "josefin_sanssemibold";
    position: relative;
    margin-bottom: 10px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 60px;
        height: 1px;
        background: #000;
        margin: auto;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}